services:
  db:
    image: postgres:15
    container_name: leemage
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-leemage_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-your_fallback_password}
      POSTGRES_DB: ${POSTGRES_DB:-leemage_db}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # 데이터 영속성을 위한 볼륨 매핑

volumes:
  postgres_data: # 데이터 저장을 위한 명명된 볼륨
